.matrix {
  border: 5px solid white;
  border-radius: 10px;
  background: #37353B;
  background: linear-gradient(45deg, rgb(255,255,255) 0%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 100%);
  box-shadow: inset 4px -2px 50px 25px rgba(0,0,0,0.14);
  display: grid;
  grid-template-rows: repeat(2, 120px);
  grid-template-columns: repeat(3, 120px);
  grid-gap: 20px;
  grid-template-areas: 
  "bl1 bl2 bl3"
  "bl4 bl5 bl6";
  margin: 0 auto;
  padding: 20px;
  transition: 300ms linear all;
  width: auto;
}

.level2 .bl {
  animation: colorChange 3s infinite;
}

.level3 .bl {
  animation: colorChange 1s infinite;
}

.level4 .bl {
  animation: colorChange 500ms infinite;
}

.bl {
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 3px 2px 3px 1px rgba(255,255,255,0);
}

.bl::after{
  box-shadow: inset 0px -51px 60px -40px rgba(50,50,50,0.75);
  content: '';
  height: 100px;
  width: 100px;
  position: absolute;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate3D(-50%, -50%, 0);
}

.bl.hit::after {

  box-shadow: inset 10px -51px 110px -50px rgba(255,255,255,0.75);
}

.bl1 {
  grid-area: bl1;
  background-color: #000;
}
.bl2 {
  grid-area: bl2;
}
.bl3 {
  grid-area: bl3;
}
.bl4 {
  grid-area: bl4;
}
.bl5 {
  grid-area: bl5;
}
.bl6 {
  grid-area: bl6;
}

.bl1.hit {
  background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(187,153,153,1) 90%);
}

.bl2.hit {
  background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(87,155,224,1) 90%);
}

.bl3.hit {
  background: radial-gradient(circle, rgba(244,255,255,1) 10%, rgba(238,99,82,1) 90%);
}

.bl4.hit{
  background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(120,120,24,1) 90%);
}

.bl5.hit {
  background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(82,65,76,1) 90%);
}

.bl6.hit {
  background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(181,0,24,1) 90%);
}

.ext-points {
  color: white;
  font-size: 1.5rem;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  z-index: 3;
}

.ext-record {
  color: white;
  font-size: 1rem;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  z-index: 3;
}

@media (max-width: 600px) {
  .matrix {
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-rows: repeat(3, 120px);
    grid-template-columns: repeat(2, 120px);
    grid-template-areas: 
    "bl1 bl2"
    "bl3 bl4"
    "bl5 bl6";
    justify-content: center;
    width: 70%;
  }
}


@keyframes colorChange {
  0% {
      background-color: hsl(36, 100%, 64%);
  }
  
  25% {
      background-color: hsl(76, 100%, 64%);
  }
      
  50% {
      background-color: hsl(206, 100%, 64%);
  }
  
  75% {
      background-color: hsl(305, 100%, 64%);
  }
  
  100% {
      background-color: hsl(36, 100%, 64%);
  }
}